@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
@import "./NavBar.css";
@import "./Home.css";

* {
    font-family: "Work Sans";
    font-weight: 460;
    background-color: rgb(43, 35, 61);
}