
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.navbar h1 {
    color: rgb(255, 0, 0);
    font-size: 40px;
    padding-left: 30px;
}

.button-group {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}

.nav-button{
    display: flex;
    background: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.test-class{
    background-color: aqua;
}