
.homescreen{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
}

.blog-preview{
    grid-column: 2 / 4;
    margin-bottom: 5px;
    text-decoration: none;
    z-index: 0;
}


.blog-preview:hover{
    box-shadow: 5px 5px rgba(163, 83, 255, 0.644);
    cursor: pointer;
    
}

.blog-preview h2{
    font-size: 45px;
    color: blueviolet;
    font-weight: 550;
    text-shadow:5px 5px 10px rgb(33, 2, 46);
}

.blog-preview button{
    background-color: white;
    z-index: 10;
}

.blog-preview p {
    font-size: 25px;
    color:blanchedalmond;
}

#list-title{
    grid-column: 2;
    font-size: 20px;
    margin-bottom: 5px;
    color: aliceblue;
}
