
.homescreen{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
}


.blog-preview{
    grid-column: 2 / 4;
}

.blog-preview h2{
    font-size: 50px;
    color: blueviolet;
    font-weight: 550;
    text-shadow:5px 5px 10px rgb(33, 2, 46);
}


.blog-preview p {
    font-size: 30px;
    color:blanchedalmond;
}